@model IEnumerable<Timesheet>

<table>
    <thead>
        <tr><th>Date</th><th>Task</th><th>Hours</th><th>Status</th></tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Date.ToShortDateString()</td>
                <td>@t.TaskDescription</td>
                <td>@t.HoursWorked</td>
                <td>@t.Status</td>
            </tr>
        }
    </tbody>
</table>
